<main>
    <section class="wrapper-form">
        <form method="post" action="">
            <label> Email:
                <input type="text" name="email" id="ema" placeholder="example@gmail.com">
            </label>
            <label> Password:
                <input type="password" name="password" id="pwd" placeholder="password">
            </label>
            <button>Login</button>
        </form>
        <a href="/register">register</a>
    </section>
</main>