<main>
    <section class="wrapper-form">
        <form method="post" action="">
            <label> Email:
                <input type="text" name="" id="" placeholder="example@gmail.com">
            </label>
            <label> Password:
                <input type="password" name="" id="" placeholder="password">
            </label>
            <button>Login</button>
        </form>
        <a href="">register</a>
    </section>
</main>