<main>
    <section class="wrapper-form">
        <form method="post" action="">
            <label> email:
                <input type="text" name="" id="">
            </label>
            <label> password:
                <input type="password" name="" id="">
            </label>
            <button>Login</button>
        </form>
        <a href="">register</a>
    </section>
</main>