<main>
    <a href="/products">volver para atras</a>
    <section>
        <h2>Profile</h2>
        <ul>
            <li>name: {{user.name}}</li>
            <li>email: {{user.email}}</li>
            <li>age: {{user.age}}</li>
            <li>role: {{user.role}}</li>
        </ul>
    </section>
</main>