<main>
    <section>
        <form method="post" action="/api/session/register">
            <label> Fist Name:
                <input type="text" name="first_name" id="f-name" placeholder="your name">
            </label> 
             <label> Last Name:
                <input type="text" name="last_name" id="l-name" placeholder="your last name">
            </label>
            <label> Email:
                <input type="text" name="email" id="ema" placeholder="example@gmail.com">
            </label>
             <label> Age:
                <input type="number" name="age" id="age" placeholder="your age">
            </label>
            <label> Password:
                <input type="password" name="password" id="pwd" placeholder="password">
            </label>
            <button>register</button>
        </form>
        <a href="/">you are register?, login</a>
    </section>
</main>