<main>
    <section>
        <h1>Reset Password</h1>
        <form action="/api/session/reset-password/{{token}}" method="post">
        <label>
            Password:
            <input type="password" name="password" placeholder="Password" required>
        </label>
        <label>
            Confirm password:
            <input type="password" name="passwordConfirmation" placeholder="Confirm Password" required>
        </label>
            <button type="submit">Reset Password</button>
        </form>
    </section>
</main>